@model GirlPower.Models.Tretman

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Tretman</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OpisTretmana" class="control-label"></label>
                <input asp-for="OpisTretmana" class="form-control" />
                <span asp-validation-for="OpisTretmana" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CijenaTretmana" class="control-label"></label>
                <input asp-for="CijenaTretmana" class="form-control" />
                <span asp-validation-for="CijenaTretmana" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrajanjeTretmana" class="control-label"></label>
                <input asp-for="TrajanjeTretmana" class="form-control" />
                <span asp-validation-for="TrajanjeTretmana" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Izvrsen" /> @Html.DisplayNameFor(model => model.Izvrsen)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="NazivTretmana" class="control-label"></label>
                <input asp-for="NazivTretmana" class="form-control" />
                <span asp-validation-for="NazivTretmana" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

