@model GirlPower.Models.Tretman

@{
    ViewData["Title"] = "Novi tretman";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Novi tretman">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NazivTretmana" class="control-label">Naziv tretmana</label>
                <input asp-for="NazivTretmana" class="form-control" />
                <span asp-validation-for="NazivTretmana" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OpisTretmana" class="control-label">Opis tretmana</label>
                <input asp-for="OpisTretmana" class="form-control" />
                <span asp-validation-for="OpisTretmana" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CijenaTretmana" class="control-label">Cijena tretmana</label>
                <input asp-for="CijenaTretmana" class="form-control" />
                <span asp-validation-for="CijenaTretmana" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrajanjeTretmana" class="control-label">Trajanje tretmana</label>
                <input asp-for="TrajanjeTretmana" class="form-control" />
                <span asp-validation-for="TrajanjeTretmana" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Dodaj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Vrati na listu tretmana</a>
</div>

