@{
    ViewData["Title"] = "O nama";
}
<h1>@ViewData["Title"]</h1>

<p>
    Našli ste se u situaciji da u toku dana niste stigli pozvati salon i zakazati termin kod kozmetičarke?
    Desilo vam se da ste zaboravili ili zakasnili na isti?
    Željeli biste da isprobate novi tretman, ali o svojstvima istog ne znate mnogo?
    Ako je "DA" odgovor na barem jedno od navedenih pitanja, onda je GIRL POWER prava stvar za vas!
</p>



<nav style="text-align: center">
    <img src="~/Slike/girlpower.jpg" width="870" height="450" />
</nav>


<p>
    Ova aplikacija pomoći će vama i vašoj kozmetičarki da bolje organizujete vrijeme, riješit će 
    vas neugodnih situacija i frustracija i pružiti jasan i pregledan plan za svaki dan.
</p>